body{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.box{
  border: 1px black solid;
  box-sizing: border-box;
  background-color: white;
  width: 30px;
  height: 30px;
  
}

#box-container{
  flex-wrap: wrap;
  display: flex;
  width: 480px;
}